
.cardUser{
    background-color: #fff;
    border-radius: 5px;
    padding: 0.8rem;
}

.cardUser > form {
    padding: 50px;
}

.cardUser form fieldset {
    border: 1px solid #E5E5E5;
}

.cardUser form fieldset div {
    text-align: center;
}

.cardUser h5{
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    color: #2bbbad;
}