.menu {
    background-color: #e5e5e5;
    cursor: pointer;
    width: 30px;
    padding: 15px 3px;
    top: 60px;
    position: fixed;
    height: 100%;
}

.menu i {
    color: #222;
}
  
.content-app {
    padding: 5px 0 0 40px;
}

.backgroundLogotipo {
    background-color: #ee6e73;
}